camoufox[geoip]>=0.4.0
playwright>=1.40.0
aiohttp>=3.9.0
numpy
browserforge
screeninfo
orjson
platformdirs
click
language-tags
lxml
pysocks
pyyaml
requests
tqdm
typing_extensions
ua_parser
greenlet
pyee
